.container {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.33);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
    width: 35rem;
}

.top {
    margin-top: 1rem;
}

.center {
    text-align: center;
}